<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="chuaBaiRWD.css">
</head>
<body>
    <div class="main">
        <div class="item">
            <div class="image">
                <img src="https://demo.codegym.vn/web/15/gallery/img_fjords.jpg" alt="">
            </div>
            <div class="description">
                Add a description of the image here
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="https://demo.codegym.vn/web/15/gallery/img_fjords.jpg" alt="">
            </div>
            <div class="description">
                Add a description of the image here
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="https://demo.codegym.vn/web/15/gallery/img_fjords.jpg" alt="">
            </div>
            <div class="description">
                Add a description of the image here
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="https://demo.codegym.vn/web/15/gallery/img_fjords.jpg" alt="">
            </div>
            <div class="description">
                Add a description of the image here
            </div>
        </div>
    </div>
</body>
</html>