<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo"></div>
            <div class="banner"></div>
        </div>
        <div class="nav-bar">
            <div class="left">
                <div class="item">Home</div>
                <div class="item">Student</div>
                <div class="item">Course</div>
                <div class="item">About us</div>
                <div class="item">Contact us</div>
            </div>
            <div class="right">
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="main">
            <div class="left">
                <div class="top-menu"></div>
                <div class="bottom-menu"></div>
            </div>
            <div class="mid">
                <div class="ads">
                    <div class="news"></div>
                    <div class="slide"></div>
                </div>
                <div class="list">
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                </div>
            </div>
            <div class="right"></div>
        </div>
        <div class="footer"></div>
    </div>



















    <!--
    static: Đây là thuộc tính mặc định (Hiển thị đúng với luồng document, các thuộc tính top, left, bottom, right)

    relative: Dịch chuyển dựa trên vị trí ban đầu và không bị xóa khỏi luồng document

    absolute: Dịch chuyển dựa phần tử cha gần nhất có thuộc position khác static (nếu không có cha nào thì dịch chuyển 
    dựa trên html)

    fixed: Dịch chuyển dựa trên html, khi thực hiện cuộn (scroll quá phần tử đó) thì nó sẽ đính trên vị trí được dịch chuyển

    (*Optional) sticky: Là sự kết hợp của relative và fixed (Hạn chế sử dụng vì phiên bản trình duyệt có thể không tương thích)

    top, left, bottom, right: các thuộc tính quy định vị trí của phần tử.

    z-index: Quy định mức độ ưu tiên của các phần tử (số càng cao càng được ưu tiên).
    -->
</body>
</html>