* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: grid;
    height: 100vh; 
    /* Độ cao full màn hình */
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 3fr 1fr 100px;

    grid-template-areas: 
    "header header"
    "side-bar content"
    "side-bar ads"
    "footer footer";
}


.header {
    grid-area: header;
    background-color: aqua;
}

.side-bar {
    grid-area: side-bar;
    background-color: pink;
}


.content {
    grid-area: content;
    background-color: blueviolet;
}

.ads {
    grid-area: ads;
    background-color: antiquewhite;
}

.footer {
    grid-area: footer;
    background-color: orange;
}